@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --primary: rgb(242, 242, 242);
    --secondary: rgb(247, 247, 248);
    --number-grey: rgb(252, 252, 252);
    --blue: rgb(145, 193, 231);
    --button-active: rgb(221, 221, 221);
    --hover: rgb(233, 233, 233);;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: var(--primary);
    width: 25rem;
    padding: 0.35rem;
    padding-top: 0.75rem;
    box-shadow: 2px 3px 5px 0px rgb(151, 151, 151);
}

/* Display Panel */
.display-panel input {
    display: block;
    border: 0;
    outline: 0;
    background: var(--number-grey);
    width: 97%;
    height: 4.5rem;
    font-size: 2.5rem;
    padding: 0.75rem;
    text-align: right;
    margin: auto;
    margin-bottom: 1rem;
}

input::placeholder {
    color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* All buttons */
button {
    border: 0;
    outline: 0;
    width: 5rem;
    height: 3rem;
    background: var(--primary);
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover) !important;
}

button:active {
    background-color: var(--button-active) !important;
}


.row {
    display: flex;
}


/* Dropdown */

.dropdowns .dropdown:nth-child(1) {
    width: 10rem;
}

.dropdowns .dropdown:nth-child(2) {
    width: 8rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-left: 0.5rem;
    position: relative;
}

.dropdown-menu button {
    height: 2rem;
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-menu {
    display: none;
    list-style-type: none;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 20%;
    width: 60%;
    background: var(--primary);
    padding: 0.6rem 0;
    box-shadow: 0px 2px 5px rgb(177, 177, 177);
    border-radius: 0 0px 4px 4px;
}

.dropdown-menu sup {
    display: none;
}

button .drop-icon {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.dropdown:hover .drop-icon {
    transform: rotate(270deg);
}

.dropdown-wrapper:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: var(--primary) !important;
}

.dropdown-menu button:hover {
    background-color: var(--hover) !important;
}


/* Specific styles */
.wrapper button {
    margin: 0.1rem;
    background-color: var(--secondary);
}


.bold {
    font-weight: 500;
    font-size: 1.3rem;
    background: var(--number-grey) !important;
}

.dot {
    font-weight: 500;
    font-size: 1.3rem;
    background: var(--number-grey) !important;
}

.p-m {
    font-weight: 300 !important;
}

.operator {
    font-size: 1.6rem;
    font-weight: 300;
}

.blue {
    background-color: var(--blue) !important;
}


button span {
    font-size: 1.3rem;
    font-weight: 300;
    margin-right: 0.4rem;
}

.memory:disabled {
    opacity: 0.5;
}


img[alt="Backspace"] {
    width: 20px;
    vertical-align: middle;
}